tensorrt==8.6.1
numpy==1.23.5
opencv-python==4.10.0.82
pymongo==4.8.0
pytesseract==0.3.13
pycuda==2024.1
# jetson-utils  # Comment out or replace with appropriate source for your platform
pymavlink==2.4.40